<p id="notice"><%= notice %></p>

<%if session[:current_user_id] %>
  <%=button_to '创建新问题', new_question_path ,method: :get,class:"btn btn-success"%>
<%end %>
      <% @questions.each do |question| %>
      <h3 class="text-center">
        <%=question.title %>
      </h3>
	  <%question.content.split(/<br>/).each do |str|%>
		  <p><%=str%><p/>
	  <%end%>
      <div class="row" id="buttons">
        <%if session[:current_user_id] %>
            <div class="col-md-9"></div>
            <div class="col-md-1">
            <%=button_to '回答', question_answers_path(question),method: :get, class:"btn btn-success"%>
            </div>
            <div class="col-md-1">
            <%= button_to '编辑', edit_question_path(question) ,method: :get,class:"btn btn-success"%>
            </div>
            <div class="col-md-1">
            <%= button_to '删除', question, method: :delete, data: { confirm: '确定删除么？' }, class:"btn btn-success"%>
            </div>
        <%else %>
          <%= button_to '回答', new_question_answer_path(question) ,method: :get,class:"btn btn-success"%>
        <%end %>
      </div>

<%end %>


